        <aside class="ui-grid-6 v-post-aside">
                {% if(page.isContact) %}
                    <section class="violet-photo">
                        <h4 class="v-section-tit">Who I am ?</h4>
                        <p class="violet-photo-img"><img src="/images/whoiam.jpg" width="142px" height="192px" alt="This is PIZn" /><span>Photo By 12.02.25</span></p>
                    </section>
                    {% include repost.html %}
                {% else %}                  
                    {% include face.html %}
                {% endif %}
                <section class="violet-qr">
                    <h4 class="v-section-tit">QR code</h4>
                    <p class="violet-qr-p">
                    	<img src="/images/qr.gif" class="violet-qr-img" alt="QR code" />
                    </p>
                </section>
                {% include follow.html %}
                
            </aside><!-- //violet-aside -->
