				<div class="violet-about">
                    <h4 class="v-section-tit">About PIZn</h4>
                    <article class="violet-about-det">
                        <p id="J_myFace" class="v-my-face"><img src="/images/face/iampizn-1.png" alt="Hello PIZn!" width="146px" height="100px" id="J_myFace_img" /><span>Face to Face!</span></p>
                        <p>混迹于互联网的<strong>PIZn</strong>，真名和花名都是<em>展新</em>。</p>
                        <p>他从小热衷于美学，喜欢一个人背着画板到处去写生。</p>
                        <p>现在的他，热爱平面设计，关注互联网动态，专注于前端开发。</p>
                    </article>
                    <p class="v-more-right">
                        <a href="http://www.zhanxin.info/contact.html"><span>&#10149;</span>More</a>
                    </p>
                </div><!-- //violet-about -->