			    <div class="violet-attent">
                    <h4 class="v-section-tit">Follow Me</h4>
                    <article class="violet-attent-det fn-clear">
                        <ul class="fn-right">
                            <li><a href="https://github.com/pizn" target="_blank" class="v-github" rel="nofollow"><span>GitHub</span></a></li>
                            <li><a href="http://www.twitter.com/piznlin" target="_blank" class="v-twitter" rel="nofollow"><span>Twitter</span></a></li>
                            <li><a href="http://www.weibo.com/pizner" target="_blank" class="v-weibo" rel="nofollow"><span>Weibo</span></a></li>
                            <li><a href="http://www.flickr.com/photos/pizner" target="_blank" class="v-flicker" rel="nofollow"><span>flicker</span></a></li>
                            <li><a href="mailto:pizner@gmail.com" target="_blank" class="v-rss" rel="nofollow"><span>email</span></a></li>
                        </ul>
                    </article>
                </div>