---
layout: default
isPost: true
---
    <section class="content fn-clear">
        <div class="ui-grid-25 ui-grid-right content-top">
            <section class="ui-grid-23 violet-post">
                <h4 class="v-section-tit">
                    <a href="/">Home</a>
                    <span>&#9830;</span>
                    <a href="/archives.html">Archives</a>
                    <span>&#9830;</span>
                    {{ page.title }}
                </h4>
                <div class="violet-post-det fn-clear">
                	<div class="ui-grid-6 v-post-aside">
                        <article class="recent-post">
                            <ul>
                            {% for rpost in site.posts limit:6  %}   
                				<li>
                					<span class="v-span">&#8227;</span><a href="{{ rpost.url }}" title="{{ rpost.title }}" rel="bookmark">{{ rpost.title }}</a>
                				</li>              	      	            
                			{% endfor %}
                            </ul>
                        </article>
                    </div><!-- //v-post-aside -->
                    <div class="ui-grid-15 v-post-detail">
                        <div class="v-entry">
                            <h2 class="title">{{ page.title }}</h2>
                            <p class="meta"><span class="date">{{ page.date | date_to_utc | date: "%Y-%b-%d" }}</span> By <a href="/contact.html" class="author" title="author" >PIZn</a></p>
                            <p class="description">{{ page.description }}</p>
                            {{ content }}
                        </div>
                        <nav class="v-pagination">
                            {% if page.previous %}
                            <a class="prev" href="{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
                            {% endif %}
                            {% if page.next %}
                            <a class="next" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
                            {% endif %}
                         </nav>
                         <div class="violet-comment">
                             <div id="disqus_thread"></div>
                         </div><!-- //violet-comment -->
                    </div>
                </div>
            </section><!-- //violet-post -->
            {% include aside.html %}
        </div>
    </section><!-- //content -->
